@font-face {
    font-family: nunito-regular;
    src: url('../fonts/Nunito/Nunito-Regular.ttf');
}

@font-face {
    font-family: nunito-semibold;
    src: url('../fonts/Nunito/Nunito-SemiBold.ttf');
}

@font-face {
    font-family: nunito-bold;
    src: url('../fonts/Nunito/Nunito-Bold.ttf');
}

@font-face {
    font-family: roboto;
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* text-decoration-line: none; */
    -moz-text-decoration-line: none;
    font-family: nunito-regular;
    user-select: none;
}

.layout-black {
    background: #000000c4;
}

:root {
    --red-color: #BE1A25;
    --blue-color: #05203D;
    --orange-color: #F37920;
    --black-content: #3d3d3d;
    --grey-text: #f5f5f5;
    --light-grey: #BBBBBB;
    --grey-circle: #e3e3e3;
}

.sub-color {
    color: #ffc107
}

.red-rate {
    color: #BE1A25
}

.blue-rate {
    color: #05203D
}


/* fonts  */

.regular {
    font-family: nunito-regular;
}

.semibold {
    font-family: nunito-semibold;
}

.bold {
    font-family: nunito-bold;
}

.roboto {
    font-family: roboto;
}

.grid-content .mr-3 {
    margin-right: 0 !important;
    display: flex;
}

.grid-content .mr-3 img {
    margin-bottom: 10px;
}

.slider-link {
    transition: all .2s ease-in-out
}

.slider-link:hover {
    color: #BE1A25 !important
}


/* end of fonts  */


/* .active {
    color: var(--red-color) !important;
    font-family: nunito-bold;
} */

.successfull {
    color: #00A120 !important;
}

.red-color {
    color: var(--red-color);
}

.red-bg {
    background-color: var(--red-color) !important;
}

.blue-color {
    color: var(--blue-color);
}

.blue-bg {
    background-color: var(--blue-color) !important;
}

.orange-color {
    color: var(--orange-color);
}

.orange-bg {
    background-color: var(--orange-color);
}

.black-text {
    color: var(--black-content);
}

.grey-text {
    color: var(--grey-text);
}

.grey-circle {
    background-color: var(--grey-circle);
}

.grey-circle-color {
    color: var(--grey-circle);
}

.main-shadow {
    box-shadow: 0px 2px 10px -3px var(--light-grey);
}


/* navbar  */

.navbar {
    transition: all .3s ease-in-out
}

.fixed-top {
    transition: all .3s ease-in-out;
    box-shadow: 0 10px 20px 5px rgba(0, 0, 0, .1);
    padding-top: 0;
    padding-bottom: 0;
}

.fixed-top .navbar-brand img {
    width: 100px;
}

.nav-dropmenu .dropdown-item {
    border-right: 1px solid #dee2e6!important;
    border-bottom: 1px solid #dee2e6!important;
}

.dropdown-menu.nav-dropmenu,
.drop-lang {
    border: none;
    border-radius: .25rem;
    overflow: hidden;
    box-shadow: 0 3px 10px 5px rgba(0, 0, 0, .1);
}

.nav-dropmenu .dropdown-item:nth-child(3n) {
    border-right: none !important
}

.navbar-light .navbar-toggler {
    outline: none;
}

.cart-result {
    width: 25px;
    height: 25px;
    line-height: 25px;
    border-radius: 50%;
    background-color: var(--blue-color);
    text-align: center;
    color: #FFF;
    font-size: 10px;
}


/* ********************************************************************************************** */


/* POPUp Style */

.body-hidden-scroll {
    overflow: hidden;
}

.pop-wrapper,
.pop-wrapper-sign,
.alert-successfuly-message {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    display: none;
    cursor: pointer
}

.pop-banner {
    position: relative;
    height: 100%;
}

.pop-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.success-message {
    width: 20%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    color: #155724;
    text-align: center;
    border-radius: 10px;
    padding: 30px 0 30px;
}

.success-img {
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-radius: 50%;
    background-color: #FFF;
    box-shadow: 0 10px 20px 5px rgba(0, 0, 0, .1);
    margin: 0 auto 20px
}

.pop-close {
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 30px;
    z-index: 10;
    color: #FFF;
    cursor: pointer;
}

.c-edit {
    top: 5px;
    right: 15px;
    color: #000;
    font-size: 20px;
}

.pop-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 33%;
    text-align: center
}

.ch-psw .pop-content,
.edit-profileuser .pop-content {
    max-width: 100%;
    width: 500px !important;
}

.ch-psw .pop-text-sign,
.edit-profileuser .pop-text-sign {
    width: 100%;
}

.ch-psw .pop-text,
.edit-profileuser .pop-text {
    width: 100%;
}

.input-wrapper-box {
    position: relative
}

.eye-password {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 10px;
}

.sign-login .pop-text {
    width: 100%;
}

.sign-btns-container>.sign-btn {
    width: 50%;
    text-align: center;
    padding: 15px 0;
    color: var(--red-color)
}

.sign-btns-container>.sign-btn.active {
    background-color: var(--red-color);
    color: #FFF;
}

.sign-input input {
    height: calc(1.5em + .75rem + 10px) !important;
    border-radius: 10px !important;
}

.deliver-input input {
    height: calc(1.5em + .75rem + 10px) !important;
    border-radius: 5px !important;
}

.double-card-input {
    display: block;
    width: 100%;
    height: auto;
    padding: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.double-card-input:focus {
    color: #495057;
    background-color: #F5F5F5 !important;
    border-color: #ced4da !important;
    outline: 0 !important;
    box-shadow: none !important;
}

.double-card-input .dropify-wrapper {
    display: block;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    height: calc(1.5em + .75rem + 10px) !important;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 22px;
    color: #777;
    background-color: #FFF;
    background-image: none;
    text-align: center;
    border: 0 !important;
    -webkit-transition: border-color .15s linear;
    transition: border-color .15s linear;
}

.double-card-input .dropify-font:before,
.double-card-input .dropify-wrapper .dropify-message span.file-icon:before,
.double-card-input .dropify-wrapper .dropify-preview .dropify-infos .dropify-infos-inner p.dropify-filename span.file-icon:before,
.double-card-input [class*=" dropify-font-"]:before,
[class^=dropify-font-]:before {
    position: absolute;
    top: -22px;
    right: 0;
}

.dropify-wrapper .dropify-message p {
    display: none;
}

.dropify-wrapper .dropify-preview .dropify-infos .dropify-infos-inner p {
    top: 25px
}


/* Some Class For Me */

.text-italic {
    font-style: italic;
}

.btn.red-bg,
.btn.blue-bg {
    transition: all .3s ease-in-out;
}

.btn.red-bg:hover {
    background-color: var(--blue-color);
}

.btn.blue-bg:hover {
    background-color: var(--red-color);
}

.container {
    height: 100%;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: var(--red-color) !important;
    color: #FFF !important
}

.nav-pills .nav-link.active div {
    color: #FFF !important
}

.nav-pills .nav-link.active img {
    filter: brightness(100);
}

.pay-box .nav-link.active {
    background-color: var(--blue-color) !important;
    color: #FFF !important
}

.in-disabled:disabled {
    background-color: transparent !important
}

.page-item.disabled .page-link {
    color: var(--red-color)
}

.page-link {
    margin-left: 0;
}

.page-item {
    margin-right: 5px;
    border-radius: 5px;
}

.page-item .page-link:hover {
    background-color: var(--red-color);
    color: #FFF;
    border: 0;
    border-radius: 5px;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: var(--red-color);
    border-color: var(--red-color);
    border-radius: 5px;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link,
.navbar-light .navbar-nav .nav-link:hover {
    color: var(--red-color)
}

.navbar-light .navbar-nav .nav-link:focus {
    color: rgba(0, 0, 0, .5)
}

.custom-control-input:focus:not(:checked)~.custom-control-label::before {
    border-color: none;
}

.custom-control-input:focus~.custom-control-label::before {
    box-shadow: none;
}

.light-grey {
    color: #BBBBBB
}

.form-control:focus {
    color: #495057;
    background-color: #FFF !important;
    border-color: #ced4da !important;
    outline: 0 !important;
    box-shadow: none !important;
}

.placeholder-gray::placeholder {
    color: #BBBBBB
}

.form-control:focus {
    color: #495057;
    background-color: #F5F5F5 !important;
    border-color: #ced4da !important;
    outline: 0 !important;
    box-shadow: none !important;
}

.cust-input input {
    height: calc(1.5em + .75rem + 10px) !important;
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
}

.cust-input .btn {
    padding: 0 12px !important;
    border: 0 !important;
    height: calc(1.5em + .75rem + 10.5px) !important;
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}

.card-box-shadow {
    box-shadow: 0 10px 20px 5px rgba(0, 0, 0, .1);
}

.btn:focus {
    outline: 0;
    box-shadow: none !important;
}

.text-underline-none {
    text-decoration: none !important;
}

.table-middle tr th,
.table-middle tr td {
    vertical-align: middle !important;
}

.text-black {
    color: #000
}

.bg-black {
    background-color: #000
}

.zindex {
    position: relative;
    z-index: 3;
}

.cursor-pointer {
    cursor: pointer;
}

.btn-black {
    background-color: black;
    color: #FFF;
}

.btn-black:hover {
    color: #FFF;
}

.width-50-per {
    width: 50%;
}

.width-100-per {
    width: 100%;
}

.width-10 {
    width: 10px
}

.width-20 {
    width: 20px
}

.width-30 {
    width: 30px
}

.width-40 {
    width: 40px
}

.width-50 {
    width: 50px
}

.width-60 {
    width: 60px
}

.width-70 {
    width: 70px
}

.width-80 {
    width: 80px
}

.width-90 {
    width: 90px
}

.width-100 {
    width: 100px
}

.width-120 {
    width: 120px
}

.width-150 {
    width: 150px
}

.width-200 {
    width: 200px
}

.width-400 {
    width: 400px
}

.height-0 {
    height: 0px !important;
}

.height-50 {
    height: 50px;
}

.height-60 {
    height: 60px;
}

.height-70 {
    height: 70px;
}

.height-80 {
    height: 80px;
}

.height-90 {
    height: 90px;
}

.height-100 {
    height: 100px;
}

.height-120 {
    height: 120px;
}

.height-100-per {
    height: 100%
}

.font-size-12 {
    font-size: 12px;
}

.font-size-13 {
    font-size: 13px;
}

.font-size-14 {
    font-size: 14px;
}

.font-size-15 {
    font-size: 15px;
}

.font-size-16 {
    font-size: 16px;
}

.font-size-17 {
    font-size: 17px;
}

.font-size-18 {
    font-size: 18px;
}

.font-size-20 {
    font-size: 20px;
}

.font-size-25 {
    font-size: 25px;
}

.font-size-30 {
    font-size: 30px;
}

.line-height-1 {
    line-height: 1;
}

.line-height-1-5 {
    line-height: 1.5;
}

.line-height-1-6 {
    line-height: 1.6;
}

.line-height-2 {
    line-height: 2;
}

.border-radius-0 {
    border-radius: unset !important;
}

.border-radius-5 {
    border-radius: 5px
}

.border-radius-10 {
    border-radius: 10px
}

.border-radius-20 {
    border-radius: 20px
}

.border-radius-top-bottom-right {
    border-top-right-radius: 7px !important;
    border-bottom-right-radius: 7px !important;
}

.l-hover {
    transition: all .2s ease-in-out
}

.l-hover:hover {
    color: var(--red-color) !important
}


/* ************************************************ */


/* Home Page Style */

.carousel-inner {
    position: relative;
}

.overlay:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, .6)
}

.overlay-blue:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(5, 32, 61, .8)
}

.carousel-indicators {
    bottom: 50px !important
}

.height-carousel-img {
    position: relative;
    height: calc(50rem - 150px);
}

.carousel-indicators li {
    width: 15px !important;
    height: 15px !important;
    border-radius: 50%;
    opacity: 1
}

.carousel-indicators .active {
    background-color: var(--red-color);
}

.carousel-intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    color: #FFF;
    text-align: center;
    font-size: 50px;
}

.carousel-intro img {
    width: 80px;
    margin: 0 10px
}

.menu-box {
    position: relative;
    z-index: 10;
    margin: auto;
    margin-top: -30px;
    background-color: #FFF;
    box-shadow: 0 0px 10px rgba(0, 0, 0, .2);
    border-radius: 7px;
}

.search-area {
    position: relative;
    width: 93%;
}

.search-area .search-icon {
    position: absolute;
    top: 50%;
    left: 25px;
    transform: translate(0, -50%);
}

.search-area input[type="text"] {
    padding-left: 50px;
    border-top: 0;
    border-bottom: 0;
}

.search-area .result-input-banner {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #FFF;
    border-right: 1px solid #ced4da;
    border-left: 1px solid #ced4da;
    border-bottom: 1px solid #ced4da;
    height: 230px;
    overflow-y: auto;
}

.search-area .result-input-banner .search_wrapper {
    transition: all .2s ease-in-out
}

.search-area .result-input-banner .search_wrapper:hover {
    color: #BBBBBB;
    background-color: #EEE;
    text-decoration: none
}

.search-area .result-input-banner .imgsearch-wrapper {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    background-color: #f7f7f7;
    text-align: center;
    margin-right: 15px;
}

.imgsearch-wrapper img {
    width: 20px;
}

.card-img {
    width: 350px;
    height: 220px;
    object-fit: contain;
    margin: auto;
    max-width: 100%;
}

.card-line {
    position: relative;
}

.card-line:before {
    content: '';
    width: 100%;
    height: 1px;
    background-color: var(--red-color);
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1
}

.card-line .card-poly {
    position: relative;
    background-color: #FFF;
    z-index: 2;
    padding: 0 5px;
    display: inline;
}

.card-line .card-poly img {
    width: 35px;
    height: 35px;
    object-fit: fill;
    border-radius: 50% 50%;
}

.download-banner {
    position: relative;
    background: url(../images/download.jpg) no-repeat scroll center center;
    background-size: cover;
}

.btn-downloaded {
    min-width: 260px;
}

.staysafe-banner {
    clip-path: polygon(0 0, 100% 0%, 100% 78%, 0% 100%);
    background: #05203d;
}

.subscribe-banner {
    position: relative;
    clip-path: polygon(0 28%, 100% 0%, 100% 100%, 0% 100%);
    background: url(../images/steak-food.jpg) no-repeat scroll center center;
    background-size: cover;
    height: 600px;
}

.customer-review-banner {
    padding: 100px 0 0
}

@media (max-width: 575px) {
    .font-size-15 {
        font-size: 0.45rem;
        text-transform: capitalize;
    }
    .font-size-18 {
        font-size: 0.8rem;
        text-transform: capitalize;
    }
    .carousel-intro {
        font-size: 30px;
        width: 100%
    }
    .carousel-intro img {
        width: 50px
    }
    .menu-box>div {
        padding-left: 3px !important;
        padding-right: 3px !important;
    }
    .menu-box .text-menu {
        display: none;
    }
    .menu-box .img-menu {
        margin-left: 5px;
    }
    .menu-box .search-menu {
        padding-left: 12px !important;
        padding-right: 12px !important;
    }
    .menu-box .dropdown>a {
        padding-left: 0px !important;
        padding-right: 2px !important;
    }
    .pop-text h2 {
        font-size: 20px
    }
    .pop-text h3 {
        font-size: 18px
    }
    .pop-text .input-group {
        width: 75%
    }
    .pop-close {
        top: -25px;
        right: -10px;
        z-index: 1000
    }
    .staysafe-banner p:first-of-type {
        font-size: 20px
    }
    .staysafe-banner p:last-of-type {
        font-size: 13px
    }
    .staysafe-banner,
    .subscribe-banner {
        clip-path: none;
    }
    .bestinmonth-banner {
        margin-bottom: 50px;
    }
    .bestinmonth-banner h2 {
        /* margin-bottom: 80px; */
    }
    .slider>img.center {
        height: 250px;
    }
    .slider>img {
        height: 200px;
    }
    .subscribe-banner {
        height: 300px;
    }
    .subscribe-banner .container,
    .subscribe-banner .zindex,
    .subscribe-banner h2 {
        padding-top: 0px !important;
        font-size: 25px;
    }
    .subscribe-banner .input-group {
        width: 95%
    }
    .staysafe-banner .col-md-6:first-of-type {
        padding-right: 15px !important
    }
    .staysafe-banner .col-md-6:last-of-type {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .overlay-blue h2:first-of-type,
    .overlay-blue h2:last-of-type {
        font-size: 23px;
    }
    .overlay-blue h2 {
        font-size: 25px;
    }
    #page404 img {
        width: 150px !important;
        max-width: 100%;
        margin-left: 10px !important;
        margin-right: 10px !important;
    }
    .pay-box .nav-link {
        margin-bottom: 0px !important
    }
    .profile-tabs .tab-items {
        text-align: center;
    }
    .pop-text {
        padding-right: 10px !important;
        padding-left: 10px !important;
    }
    .c-edit {
        top: -35px;
    }
    .grid-content .mr-3 {
        text-align: center;
    }
    .col-md-12 .grid-content .mr-3 img {
        /* width: 600px !important; */
    }
    .flex-center-mob {
        justify-content: center !important;
    }
    .footer {
        text-align: center
    }
    .text-center-mob {
        text-align: center;
    }
    .pop-content {
        width: 100% !important
    }
}

@media (min-width: 575px) and (max-width: 767px) {
    .carousel-intro {
        font-size: 35px
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .carousel-intro {
        font-size: 40px
    }
}

@media (max-width: 768px) {
    .col-md-3,
    .col-md-4,
    .col-lg-3,
    .col-lg-4,
    .col-lg-2 {
        margin-bottom: 30px !important;
    }
    .col-md-6 {
        margin-bottom: 15px !important;
    }
    .flex-center-mob {
        justify-content: center !important;
    }
}

.col-md-3,
.col-md-4,
.col-lg-3,
.col-lg-4,
.col-lg-2,
.col-md-12,
.col-md-6 {
    margin-bottom: 15px !important;
}


/* ************************************************ */


/* Menu Page Style */

.menus-banner {
    position: relative;
    background: url(../images/italiancuisine.jpg) no-repeat scroll center center;
    background-size: cover;
    height: calc(100vh - 82px);
}


/* ************************************************ */


/* Product Page Style */

.bg-all {
    position: relative;
    background: url(../images/coc.png) no-repeat scroll center center;
    background-size: cover;
    overflow: hidden;
    width: 100%;}

.profile-image {
    position: relative;
}

.change-image {
    position: absolute;
    top: 82%;
    right: 9px;
    color: var(--red-color);
    cursor: pointer;
}

.tab-items.active {
    color: var(--red-color)
}

#favoritelist_content,
#editaccount_content {
    display: none;
}

.psw-user {
    background-color: transparent !important;
}

.psw-user:focus {
    outline: 0 !important;
}


/* ************************************************ */


/* Footer Style */

.footer {
    position: relative;
    padding: 0 0 50px;
    margin-top: 250px !important;
}

.footer:before {
    content: '';
    width: 100%;
    height: 170px;
    position: absolute;
    top: -168px;
    left: 0px;
    background: url(../svg-icons/footerwave.svg) no-repeat;
    background-size: cover;
}

.in-footer img {
    width: 25px;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
}

.in-footer input {
    width: 100%;
    padding-left: 50px;
    height: calc(1.5em + .75rem + 10px) !important;
    border-radius: 10px !important;
    color: #FFF !important
}

.in-footer input:focus {
    background-color: transparent !important;
    border-color: var(--red-color) !important
}

.in-footer .btn-subscribe {
    position: absolute;
    top: 50%;
    right: 10px;
    z-index: 10;
    transform: translate(0, -50%);
    cursor: pointer
}

.in-footer .btn-subscribe:hover {
    color: var(--red-color)
}

.copy-right {
    position: relative
}

.social-links a {
    display: block;
    width: 35px;
    height: 35px;
    line-height: 37px;
    text-align: center;
    background: rgba(255, 255, 255, .3);
    border-radius: 50%;
    transition: all .3s ease-in-out
}

.social-links a:hover {
    background-color: var(--blue-color)
}

.social-links {
    margin-right: 10px;
}

.social-links:last-child {
    margin-right: 0
}

.btn-scroll-top {
    position: fixed;
    bottom: 25px;
    right: 100px;
    cursor: pointer;
}

.cart-added-content {
    height: 250px;
    overflow-y: auto;
}

.minus-box-cart,
.plus-box-cart {
    width: 20px;
    height: 20px;
    line-height: 20px;
    background-color: var(--red-color);
    color: #FFF;
    font-size: 12px;
    text-align: center;
    cursor: pointer
}

.dropdown-cart {
    display: none;
    position: absolute;
    top: 65px;
    left: -250px;
    z-index: 1000;
    background: #FFF;
}


/* ************************************************ */


/* Menu Page Style */

.contact-banner {
    position: relative;
    background: url(../images/Restaurant-Food.jpg) no-repeat scroll center center;
    background-size: cover;
    height: calc(100vh - 82px);
}

.contact-info {
    padding: 150px 0;
}

.contact-card {
    position: relative;
}

.contact-icon {
    position: absolute;
    top: -80px;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 100px;
    height: 75px;
    line-height: 75px;
    text-align: center;
    font-size: 35px;
    background-color: var(--red-color);
    color: #FFF;
    border-top-left-radius: 48px;
    border-top-right-radius: 48px;
}

.c-height {
    height: 165px;
}

.conct-input input {
    height: calc(1.5em + .75rem + 10px) !important;
    border-radius: 10px !important
}

.conct-input textarea {
    border-radius: 10px !important
}


/* About Us Style */

.dialy-offer {
    position: relative;
    background: url(../images/italiancuisine.jpg) no-repeat fixed center center;
    background-size: cover;
    min-height: 400px;
}

.about-links .social-links a {
    background-color: #E3E3E3;
    color: var(--blue-color) !important;
}

.about-links .social-links a:hover {
    color: var(--red-color) !important;
}

.plat {
    /* background: url(../images/pan1.png) no-repeat scroll center center; */
    background-size: cover;
    width: 200px;
    height: 200px;
    margin: auto;
    margin-bottom: 15px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.plat .pan-inner {
    width: 106px;
    height: 106px;
    margin-top: 70px;
    margin-right: 7px;
    border-radius: 50%;
}

a:hover {
    text-decoration: none;
    color: #05203d;
}

#page-navi {
    display: flex;
    justify-content: flex-end!important;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
    margin: 0;
    float: right;
}

#page-navi li {
    margin-right: 5px;
    border-radius: 5px;
}

#page-navi li a {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #BE1A25;
    background-color: #fff;
    border: 1px solid #dee2e6;
    margin-left: 0;
    box-shadow: 0 10px 20px 5px rgba(0, 0, 0, .1);
    border: 0
}

#page-navi li a.next,
#page-navi li a.previos {
    background-color: transparent;
    box-shadow: none;
}

#page-navi li a:hover {
    background-color: var(--red-color);
    color: #FFF;
    border: 0;
    border-radius: 5px;
}

#page-navi li a.current {
    z-index: 3;
    color: #fff;
    background-color: var(--red-color);
    border-color: var(--red-color);
    border-radius: 5px;
}


/* slider update  */

.carousel-item.topcarousel {
    background-image: url(../images/home-banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    background-size: cover;
}


/* emails  */

.invoice_mail .logo a img {
    width: 250px;
}

.invoice_mail .content {
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    box-shadow: 0 10px 10px rgba(255, 255, 255, .3);
}

.invoice_mail .titles p {
    color: rgba(0, 0, 0, .5);
    font-size: 1.3rem;
    font-weight: 600;
}

.msg p {
    color: rgba(0, 0, 0, .7);
}

.msg p a {
    text-decoration: underline;
}

.row.download_app .social-links a {
    background-color: #05203d42;
}

.row.download_app .social-links a:hover {
    color: var(--red-color);
}

h4 span.red-border {
    border-bottom: 3px solid var(--red-color);
}

@media(max-width:767px) {
    .invoice_mail .titles h2 {
        font-size: 1.5rem;
    }
    .invoice_mail .titles h3 {
        font-size: 1.3rem;
    }
    .invoice_mail .titles p {
        font-weight: 300;
        font-size: 1rem;
    }
    .invoice_mail .content .row h4 {
        font-size: 1rem;
        font-weight: 600;
    }
    .download_app img {
        height: 50px;
    }
}

.Box {
    content: '';
    background: #be1a25;
    color: white;
    text-align: center;
    position: absolute;
    top: 10px;
    width: 75px;
    padding: 8px;
    left: 25px;
    line-height: 16px;
    z-index: 5;
    border-radius: 10px 140px 30px 140px;
}

.loader {
    display: none;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.loading {
    border: 2px solid #ccc;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border-top-color: #1ecd97;
    border-left-color: #1ecd97;
    animation: spin 1s infinite ease-in;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
