<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/main-s.css">
</head>

<body>

    <div class="section py-5">
        <div class="container text-center">
            <div class="row flex-column text-center">
                <div class="img mb-3"><img src="../assets/images/Successfull.svg" alt=""></div>
                <h2 class="successfull display-4 mb-3">Congratulations</h2>
                <p class="text-secondary mb-3">Order places successfully </p>
            </div>
            <button class="btn blue-bg text-white d-inline-block py-2 px-5">Back to Homepage</button>
        </div>

    </div>

</body>

</html>
